<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dietimo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Free fonts available through ggogleapis is used here -->
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link rel="icon" href="images/favicon.png" sizes="16x16">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/15351abe6e.js" crossorigin="anonymous"></script>
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet">
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet">
  <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
  <!-- MAIN CSS file -->
  <link rel="stylesheet" href="css/main.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" cz-shortcut-listen="true">

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-black" style="
      padding-right: 60px;
      padding-left: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
  ">
      <a class="navbar-brand" href="#">
        <img src="images/logo.png" alt="Logo" style="
      width: 200px;

  ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto" style="
    font-weight: 300;
    font-size: 1rem;
    font-family: &quot;Roboto&quot;, &quot;Arial&quot;, &quot;Helvetica Neue&quot;, sans-serif;
    line-height: 1.7;
">

          <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/computedietchart">Compute Diet Chart</a>
          <a class="nav-item nav-link" href="/getdietplan">Get Diet Plan</a>
          <a class="nav-item nav-link" href="/getdietplan">Diet Plan</a>
        </div>
      </div>
    </nav>
  </header>
  <!--The virtual jumbotron-->
  <div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('images/salad.jpg');margin-top: 110px;">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-7">
            <h1 class="mb-4">Welcome to DIETIMO</h1>
            <p><a href="/computedietchart" class="btn btn-primary text-white px-4 py-3">Compute Diet</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section" id="dietsection">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-lg-6">
          <div class="h-80 p-5 bg-black">
            <div class="row">
              <div class="col-md-6 text-center mb-4">
                <div class="service-38201">
                  <span class="fa fa-stethoscope fa-lg py-4" aria-hidden="true"></span>
                  <h3>Acclaimed by doctors</h3>
                </div>
              </div>
              <div class="col-md-6 text-center mb-4">
                <div class="service-38201">
                  <span class="fa fa-heartbeat fa-lg py-4" aria-hidden="true"></span>
                  <h3>Changing lifestyles</h3>
                </div>
              </div>
              <div class="col-md-6 text-center mb-4">
                <div class="service-38201">
                  <span class="fa fa-users fa-lg py-4" aria-hidden="true"></span>
                  <h3>Worldwide outreach</h3>
                </div>
              </div>
              <div class="col-md-6 text-center mb-4">
                <div class="service-38201">
                  <span class="fa fa-calculator fa-lg py-4" aria-hidden="true"></span>
                  <h3>Easy diet calculation</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 ml-auto py-5">
          <div class="service-39290 d-flex align-items-start mb-5">
            <div class="media-icon mr-4">
              <span class="fa fa-hand-o-right" aria-hidden="true"></span>
            </div>
            <div class="text py-2">
              <h2>HOW TO USE DIETIMO</h2>
              <p>Combined with physical activity, your diet can help you reduce the risk of chronic diseases and promote your overall health. Just key-in your details and we will generate diet suggestions for you.</p>
              <a href="#">Click here to input custom diet-chart</a><br>
              <a href="#">Click here for diet suggestions based on weight, height and age</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-light">
    <div class="container">

      <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center">
          <h3 class="heading-29201 text-center">Some sample diets</h3>

          <p class="mb-5">Delectable collection of mouth-watering dishes curated by experts</p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="post-entry-1 h-100">
            <a href="#"><img src="images/red_rice_idli.jpg" alt="Image" class="img-fluid"></a>
            <div class="post-entry-1-contents">
              <h2><a href="#">Red Rice Idli</a></h2>
              <p>Pancakes made of red rice batter, a common delicacy in South India.</p>
              <p>- xxx kcal</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="post-entry-1 h-100">
            <a href="#"><img src="images/sambhar_rice.jpg" alt="Image" class="img-fluid"></a>
            <div class="post-entry-1-contents">

              <h2><a href="#">Sambhar rice with potato fry</a></h2>
              <p>A healthy, nutrient-dense dish made with lentils, rice, mixed vegetables, spices and herbs.</p>
              <p>- xxx kcal</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="post-entry-1 h-100">
            <a href="#"><img src="images/chappati.jpg" alt="Image" class="img-fluid"></a>
            <div class="post-entry-1-contents">

              <h2><a href="#">Chapatti with vegetable curry</a></h2>
              <p>Delicious thin pancake of wholemeal bread cooked on a girdle served with mixed vegetable curry that packs a flavour punch.</p>
              <p>- xxx kcal</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="site-section" style="background:#DCDCDD">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <h3 class="heading-29201 text-center">Our Founders</h3>
          <p class="mb-5">This software is the brainchild of our visionary founders</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="person-29381">
            <div class="media-39912">
              <img src="images/deepak.jpeg" alt="Image" class="img-fluid">
            </div>
            <h3><a href="#">S Deepak Kumar</a></h3>
            <div class="social-32913">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="person-29381">
            <div class="media-39912">
              <img src="images/javed.jpeg" alt="Image" class="img-fluid">
            </div>
            <h3><a href="#">Javed Roshan U</a></h3>
            <div class="social-32913">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="person-29381">
            <div class="media-39912">
              <img src="images/pakkeer.jpeg" alt="Image" class="img-fluid">
            </div>
            <h3><a href="#">Pakkeer Mydeen</a></h3>
            <div class="social-32913">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mb-md-0 offset-md-2">
          <div class="person-29381">
            <div class="media-39912">
              <img src="images/aakash.jpeg" alt="Image" class="img-fluid">
            </div>
            <h3><a href="#">Aakash Murugan</a></h3>
            <div class="social-32913">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 mb-md-0 offset-md-1">
          <div class="person-29381">
            <div class="media-39912">
              <img src="images/dinesh.jpeg" alt="Image" class="img-fluid">
            </div>
            <h3><a href="#">Dinesh M</a></h3>
            <div class="social-32913">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer class="site-footer" style="background:#262626; text-color:#FFFFFF;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="text-white h5 mb-3">Subscribe to our newsletter</h3>
          <form action="" class="d-flex">
            <input type="text" class="form-control mr-3" placeholder="Enter your email">
            <input type="submit" class="btn btn-primary text-white" value="Send Now">
          </form>
        </div>
        <div class="col-md-3 ml-auto">
          <ul class="list-unstyled menu-arrow">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3 class="text-white h5 mb-3">About</h3>
          <p>DIETIMO is a free-to-use software. Additional features can be unlocked upon payment of premium. This software is not licensed. This is the property of Team Demogorgons.</p>
        </div>
      </div>
    </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>





</body>

</html>
